*{
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.nav>li{
  float: right;
  margin-left: 10px;
  padding: 10px;
  list-style: none;
  font-size: 20px;
  padding: 25px;
  margin-right: 20px;
 
}
.nav>li:nth-child(4){
  margin-right: 0;
  float: left;
}
.main-nav{
  background-image:linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(images/mw.jpg);
  padding-bottom: 150px;
  background-size: cover;
  color: white;
  padding-top: 1%;
 
}
.nav>li>a{
  text-decoration: none;
}
.nav>li>a:active,
.nav>li>a:link,
.nav>li>a:visited{
color: white;
}
.nav>li>a:hover{
color: rgba(177, 176, 176, 0.212);
border-bottom: 1px solid white;
}
.info{
	/* margin:20px auto; */
  margin-top: 70px;
	background: rgba(0, 0, 0, 0.349);
	color: white;
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	justify-content: center;
  padding:0;
}
.info>ul{
	border-right: white dashed 1px;
	padding-right: 20px;
	border-top: 1px solid white; 
	border-left: white dashed 1px;
  margin-top: 10px;
  font-size: 20px;
}
.info>ul>li{
  margin-bottom: 10px;
  margin-top: 2px;
}
.info>ul>li>a{
  text-decoration: none;
  padding: 0px;
}
.info>ul>li>a:active,
.info>ul>li>a:link,
.info>ul>li>a:visited{
color: white;
}
.info>ul>li>a:hover{
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px dotted white;
  transition: all 1s;
}
.cover{
  background-image: linear-gradient(rgba(255, 255, 255, 0.199), rgba(255, 255, 255, 0.199)), url(images/banner.jpg);
  background-size: 50% 100%;
  padding-bottom: 5%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.form{
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.479);
  height: 80%;
  width: 80%;
  margin-top: 20px;
  margin-left: 20px;
  padding: 1%;
  
}
.form>h3{
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 0;
}
input{
  margin-top: 0px;
  padding: 0;
  width: 90%;
  margin-left: 5px;
}
.signup{
  margin-top: 15%;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.637);
  transition: all 0.5s;
}
.signup:hover{
  background-color: black;
  transform: scale(1.2);
  cursor: pointer;
}
label{
  margin-top: 15%;
  padding-top: 0px;
}
label[for = email]{
margin-top: 10px;
}
.banner>h2{
  font-size: 30px;
  margin-bottom: 2%;
}
.banner>p{
  font-size: 25px;
  line-height: 140%;
  word-spacing: 6px;
  font-weight: 500;
  color: rgb(0, 0, 0);
 
}
.banner{
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
  padding: 3%;
}
.facebook{
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  color: white;
  background-color: rgb(0, 102, 255);
  transition: all 0.5s;
}
.facebook:hover{
  cursor: pointer;
  transform: scale(1.2);
  background-color: blue;
}
.admission{
  background-color: rgba(255, 255, 255, 0.479);
  height: 80%;
  width: 80%;
  margin-top: 20px;
  margin-left: 40px;
  padding: 1%;
  text-align: center;
}
.admission>ul{
  list-style: none;
  font-size: 20px;
  padding: 10%;
}
.admission>ul>li{
  border-bottom: black dotted 1px;
  align-items: center;
  padding: 5px;
  margin-top: 10px;
}
.admission>ul>li:first-child{
  border-top:  black dotted 1px;
}
.adbtn{
  padding: 5%;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.788);
  color: white;
  font-weight: 600;
  border-radius: 5px;
  transition: all 0.2s;
}
.adbtn:hover{
  cursor: pointer;
  transform: scale(1.1);
  background-color: black;

}
.admission>h3{
  font-size: 1.5em;
}
.facilities{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.308);
}
.fac-box{
  margin: 10px 40px;
  padding: 0%;
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 1s;
  text-align: center;
  font-size: 20px;
  background-color: rgb(99, 99, 0);
  color: white;
}
.fac-box:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.2);
}
.fac-box img{
  height: 200px;
  width: 100%;
}
.fac-box p{
 width: 100%;

}