*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .nav>li{
    float: right;
    margin-left: 10px;
    padding: 10px;
    list-style: none;
    font-size: 20px;
    padding: 25px;
    margin-right: 20px;
   
  }
  .nav>li:nth-child(4){
    margin-right: 0;
    float: left;
  }
  .main-nav{
    background-image:linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(image/pexels-zino-bang-54539.jpg);
    padding-bottom: 15%;
    background-size: cover;
    color: white;
    padding-top: 1%;
   
  }
  .nav>li>a{
    text-decoration: none;
  }
  .nav>li>a:active,
  .nav>li>a:link,
  .nav>li>a:visited{
  color: white;
  }
  .nav>li>a:hover{
  color: rgba(177, 176, 176, 0.212);
  border-bottom: 1px solid white;
  }

  .cover{
    transform: translateY(150px);
    letter-spacing: 2px;
    line-height: 30px;
    font-size: 120%;
    margin: 0 20px;
    padding: 0 20%;
    text-align: left;
  }
  main{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto 5px;
  }
  main ul{
    list-style: none;
  }
 /* {
   width: 10%;
   align-self: start;
   position: sticky;
   top:0;


 } */
 h3, h2{
   font-size: 2em;
   border-bottom: 1px solid rgb(0, 0, 0);
   width: 90%;
   margin: 0 auto;
 }
 .card{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 20px 10px;
   background-color: rgba(128, 128, 128, 0.144);
 }
 .card p{
  width: 45%;
  align-self: center;
  font-size: 1.5em;
 }
 .card img{
width: 75%;
 }
 .camp-stats, .student{
  margin-top: 10px;
  width: 20%;
  align-self: start;
  position: sticky;
  top:0;
  background:linear-gradient(to right, rgb(28, 201, 201), rgb(22, 151, 151)) ;
  box-shadow: 3px 3px 3px gray;
  color: white;

}
.camp-stats li,.student li{
  border-bottom: black dotted 1px;
  font-size: 20px;
  margin: 30px auto;
  text-align: left;
}
.campus{
  width: 60%;
}
  .card img{
    height: 300px;
    width: 400px;
  }
  footer{
    font-size: 15px;
    text-align: center;
    background-color: gray;
    color: rgb(197, 197, 197);
    padding: 0px;
  }